<app-header></app-header>
<div class="container">
  <!--<p>Simple and affordable pricing plans for you pet</p>-->
  <div class="row">
    <div class="col-lg-6">
      <br />
      <h3> Registration From</h3>
      <!--<hr style='background:blue'>-->
      <!--<div class='container'>-->
      <!-- <form #userForm='ngForm' (ngSubmit)='submitData(userForm.value)'> -->
      <form [formGroup]="userForm" (ngSubmit)='submitData()'>

        <div class='form-group'>
          <label>Name:</label>
          <input [class.invalid]="userForm.get('name').invalid && userForm.get('name').touched" formControlName='name' class='form-control'>

          <div *ngIf="userForm.get('name').errors?.required" class='text text-danger'>Name is required </div>
          <div *ngIf="userForm.get('name').errors?.pattern" class='text text-danger'>Name should be valid and Name should be 5 to 15 characters </div>

        </div>
        <div class='form-group'>
          <label>Email:</label>
          <input [class.invalid]="userForm.get('email').invalid && userForm.get('email').touched" formControlName='email' class='form-control'>

          <div *ngIf="userForm.get('email').errors?.required" class='text text-danger'>Email is required </div>
          <div *ngIf="userForm.get('email').errors?.pattern" class='text text-danger'>Enter valid email like abc@gmail.com </div>

        </div>



        <div formGroupName="address">
          <div class='form-group'>
            <label>City:</label>
            <input [class.invalid]="userForm.get('address.city').invalid && userForm.get('address.city').touched" formControlName='city' class='form-control'>

            <div *ngIf="userForm.get('address.city').errors?.required" class='text text-danger'>City is required </div>
            <div *ngIf="userForm.get('address.city').errors?.pattern" class='text text-danger'>Only Characters are allowed </div>

          </div>

          <div class='form-group'>

            <label>State:</label>

            <input [class.invalid]="userForm.get('address.state').invalid && userForm.get('address.state').touched" formControlName='state' class='form-control'>

            <div *ngIf="userForm.get('address.state').errors?.required" class='text text-danger'>State is required </div>
            <div *ngIf="userForm.get('address.state').errors?.pattern" class='text text-danger'>Only Characters are allowed </div>

          </div>

          <div class='form-group'>
            <label>Postal Code:</label>
            <input [class.invalid]="userForm.get('address.postalCode').invalid && userForm.get('address.postalCode').touched" formControlName='postalCode' class='form-control'>

            <div *ngIf="userForm.get('address.postalCode').errors?.required" class='text text-danger'>PostalCode is required </div>
            <div *ngIf="userForm.get('address.postalCode').errors?.pattern" class='text text-danger'>Enter valid code</div>

          </div>
        </div>
        <br>

        <button [disabled]='!userForm.valid' type='submit' class='btn btn-success'>Submit</button>

      </form>
    </div>

      <div class="col-lg-6">
        <br />
        <br />
        <br />
        <br />

        <table>
          <tr *ngIf='myBData.length>0'>
            <th>Name</th>
            <th>Person Email</th>
            <th>Person City</th>
            <th>State</th>
            <th>Postal Code</th>
          </tr>
          <tr *ngFor="let myData of myBData">
            <td>{{myData.name}}</td>



            <td>{{myData.email}}</td>



            <td>{{myData.address.city}}</td>



            <td>{{myData.address.state}}</td>



            <td>{{myData.address.postalCode}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<app-footer></app-footer>
