
<h1>Employee is working!</h1>
<br/>

<!--<br />
<ul *ngFor='let employee of  employees'>

  <li>{{employee.id}}-{{employee.name}}</li>
</ul>-->


<table id="customers">
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee email</th>
    <th>Employee image</th>

  </tr>
  <tr *ngFor='let employee of  employees'>
    <td>
      {{employee.id}}
    </td>
    <td>
      {{employee.name}}
    </td>
    <td>
      {{employee.email}}
    </td>
    <td>
      <img [src]='employee.image' width="80" height="50">
    </td>
  </tr>
</table>
