<!--<h1>welcome to Home</h1>
<img src='../assets/Air1.jpg' width="1500" height="700">-->
<!--<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <br/>
        <img src="../assets/newtec1" alt="petshome"  width="600" height="500"/>
      </div>
      <div id="content" class="col-lg-6">
        <h1>Come be part of the clan</h1>
        <p>Jion us and be the frist to know about our new course, special offers,training tips,
          latest update and much much more!!</p>
        <button type="button" id="btnwidth" class="btn btn-lg bg-dark">ContactUs</button>
        <br/>
        <br/>
        <button type="button" id="btnwidth" class="btn btn-lg bg-dark">Services</button>
      </div>
    </div>
  </div>
</section>
------------------------------------------------------------------------------>

<!--<section>

  <div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
       Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <br/>
          <div class="nr">
            <img src="../assets/newtec1.png" style="width:100%; height:50%;" />
          </div>
        
          <div class="carousel-caption">
            <h3>WELCOME</h3>
            <p>To India's best Website</p>
          </div>
        </div>
       
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br/>
  <h2><strong>WELCOME TO TECHNALOGY WORLD</strong></h2>
  <h3 style="font-family: Montserrat;">Book course from Website</h3>

  <p>
    Established in 2016, we are the international air transport rating organisation, based in London, UK.
    With a unique knowledge base and expertise of quality issues affecting the air transport industry,
    ARSAIRLINES deliver innovative thinking to help make change happen. World Airline and Airport Rating
    is the professional,unified Quality classification system of airline and airport standards worldwide.
  </p>
  <p>
    More often than not, booking directly through the airline’s website will give you the best price.
    Another reason to book directly  through an airline’s website is to use  frequent flyer  miles
    — hooray for award flights!One of the things I love about this site is the super visual way they
    show you the price trends for your flight.
  </p>
  <p>
    you can tell if you could save some money by shifting around your travel dates a bit. They also
    offer a price tracker and lots of filtering options on the left-hand side of the screen.They also
    offer Mix and Match fares which are simply 2 one way tickets from different providers packaged
    together to get you the best deal. However, unlike other sites, to book these types of tickets
    you do have to go to 2 separate websites to book.
  </p>
  <div>
    <p>
      ARSAIRLINES is offering lowest return fares for domestic passengers travelling between metro cities
      in "Economy" class on the same day. AIRSAIRLINES has been floated for all metros with 15 city pairs
      and combinations.This scheme is applicable where flight connections are available on the same day.
    </p>
    <p>
      ARSAIRLINES provides "Fly for Sure Offer " for those passengers who are concerned their travel plans
      may change. This offer is applicable for Passengers travelling either in the Business Class or Economy
      Class on ARSAIRLINES flights operating from domestic airports within India.
    </p>
  </div>
</section>-->
<app-header></app-header>
<section>
  <div class="container-fluid">
    <div class="row">
      <!--<h2><strong>WELCOME TO TECHNOLOGY WORLD</strong></h2>
      <h4 style="font-family: Montserrat;">Book course from Website</h4>-->
      <div class="col-lg-6">
        <br/>
        <br/>
        <img src="../assets/newtec1.png" alt="petshome" width="600" height="500" />
      </div>
      <div id="content" class="col-lg-6">
        <h1>Come be part of the ITech-era</h1>
        <p>
            Jion us and be the frist to know about our new course, special offers,training tips,
            latest update and much much more!!
         "Established in 2016, we are the international technology rating organisation, based in London, UK.
          With a unique knowledge base and expertise of quality issues affecting the technology industry."
        </p>
        <button type="button" id="btnwidth" class="btn btn-lg bg-dark">ContactUs</button>
        <br />
        <br />
        <button type="button" id="btnwidth" class="btn btn-lg bg-dark">Services</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
