/* .myDiv{
    background-color: lightgray;
    width:400px;
    
}
button{
    width:300px;
    margin-left: 40px;
    background-color:#40bf40;
}
table{
    margin-left: 30px;
} */
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 40%;
  float: left;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  /* margin: 0 auto; */
  background-color: #fff;
  border: 1px solid darkgray;
}

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

    .form-signin .form-control:focus {
      z-index: 2;
    }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

button {
  background-color: darkgray;
  color: black;
}

.myDiv {
  background-color: lightgray;
  width: 30%;
  float: left;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 40px;
  height: 350px;
}

.image {
  height: 345px;
  width: 380px;
}

.main {
  margin-left: 320px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer {
  text-align: center;
}

.footericon i {
  margin: 1%;
  font-size: 2rem;
}

#contact {
  padding: 4%;
  text-align: center;
  background-color: #DCE6F0;
}

.icons {
  font-size: 4rem;
}
h2{
    text-align:center;
}
