<!--<br />

<div class="center">
  <div class="form-group">
    <table class="table2">
      <tr>
        <td>

          <div class="form-group">-->
<!--<label for="search-text">Search : </label>-->
<!--<input type="text" class="form-control" id="search-text" aria-describedby="search-text"
           [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
  </div>

</td>
<td>

  <div class="form-group">
    <label>Sort : </label>
    <select [(ngModel)]='SortbyParam'>
      <option value="productId">Review Id</option>
      <option value="productName">Reviewer Name</option>-->
<!--<option value="productPrice">Reviewer Price</option>-->
<!--<option value="productDescription">Reviewer Description</option>-->
<!--</select>


          </div>
        </td>
      </tr>
    </table>
  </div>

</div>


<br />
<table id="customers">
  <tr>
    <th>Reviewer Id</th>
    <th>Reviewer Name</th>-->
<!--<th>Reviewer Price</th>-->
<!--<th>Reviewer Description</th>
  <th>Reviewer  Image</th>
</tr>
<tr *ngFor="let product of products | filter:{productId:searchText,productName: searchText,productPrice: searchText, productDescription: searchText}| sort:SortbyParam">

  <td>
    {{product.productId}}
  </td>
  <td>

    {{product.productName}}
  </td>-->
<!--<td>
  {{product.productPrice}}
</td>-->
<!--<td>

       {{product.productDescription}}
    </td>
    <td>
      <img [src]='product.image' width="100" height="100">
    </td>
  </tr>
</table>-->
<app-header></app-header>
<br/>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <section>
    <table>
      <tr>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
                   [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
          </div>
          <br />
        </td>
        <td>
        </td>
        <td></td>
        <td>

          <label>Sort by: </label>
          <select [(ngModel)]='SortbyParam'>
            <option value="productId">Review Id</option>
            <option value="productName">Reviewer Name</option>
            <option value="description">Review Description</option>

          </select>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <th>Reviewer Id</th>
        <th>Reviewer Name</th>
        <th>Review Description</th>
        <th>Reviewer Image</th>
      </tr>
      <!--<tr *ngFor="let review of (reviews) | search: searchedKeyword:'name'|sort:SortbyParam">-->
      <tr *ngFor="let product of products | filter:{productId:searchText,productName: searchText,productPrice: searchText, productDescription: searchText}| sort:SortbyParam">

        <td>
          {{product.productId}}
        </td>
        <td>
          {{product.productName}}
        </td>
        <td>
          {{product.productDescription}}
        </td>

        <td>
          <!--<img [src]='review.image' appSecondDir />-->
          <img [src]='product.image' width="100" height="100">
        </td>
      </tr>
    </table>
  </section>
</body>
</html>
<app-footer></app-footer>
